<h1 id="title">digital<br />wall</h1>
<ul id="all-posts">
  {{#each posts}}
  <form method="post" action="/delete/{{_id}}"><button>X</button></form>
  <li>
    <div class="edit" contenteditable="true" id="{{_id}}">
      {{{description}}}
    </div>
  </li>
  {{/each}}
</ul>
<div id="addContent">
  <button id="add">+</button>
  <input id="input" class="form-control" placeholder="multimedia">
</div>
