body {
  background-color: #e8d6ff;
  font-family: 'Roboto Mono', monospace;
}

h1 {
  color: white;
  font-size: 200px;
  text-align: center;
  letter-spacing: 15px;
  text-decoration: line-through;
  margin: 30px;
}

input {
  width: 300px;
  height: 300px;
  margin: 100px;
  float: right;
  transform: rotate(30deg);
  font-size: 30px;
  letter-spacing: 6px;
  border: none;
  font-family: 'Roboto Mono', monospace;
}

.edit {
  margin:30px;
}

ul {
  margin: 50px;
  font-size: 30px;
  letter-spacing: 6px;
  color: white;
}

form, li, button {
  display: inline-block;
}

li {
  list-style-type: none;
}

.complete {
  text-decoration: line-through;
}

button {
  background: blue;
  padding: 15px;
  boder: none;
  color: white;
  font-size: 20px;
}

button:focus {
  outline: none;
}
